# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/
bin/
.env*
!.env.example

__debug_bin*

# Valkey data directory (but keep structure with .gitkeep)
hack/data/*
!hack/data/valkey/
!hack/data/postgres/
!hack/data/keycloak/
hack/data/valkey/*
hack/data/postgres/*
hack/data/keycloak/*
!hack/data/valkey/.gitkeep
!hack/data/postgres/.gitkeep
!hack/data/keycloak/.gitkeep