name: Lint Helm Chart

on:
  pull_request:
    paths:
      - 'charts/**'
  push:
    branches:
      - main
    paths:
      - 'charts/**'

jobs:
  lint-chart:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up Helm
        uses: azure/setup-helm@v4
        with:
          version: latest

      - name: Lint Helm Chart
        run: |
          helm lint charts/godns

      - name: Template Helm Chart
        run: |
          helm template test-release charts/godns --debug

      - name: Validate Helm Chart
        run: |
          helm template test-release charts/godns | kubectl apply --dry-run=client -f -
        continue-on-error: true
